<?xml version="1.0" encoding="UTF-8"?>
<config>
	<users_path>c:/nwda/users.xml</users_path>	
	<tmp_path>c:/www/vss_data/tmp</tmp_path>
	<exist>
		<url/>
		<username/>
		<password/>
	</exist>
	<production_server>http://archiveswest.orbiscascade.org/</production_server>
	<!-- note: be sure to include the trailing slash in the production server url -->
</config>
